
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400 ;
    font-style: normal;
  }

  /* 
  shared styles
  */
  
  /* 
   dark-2
  */

  .secondary-color{
    color: rgba(66, 66, 66, 1);
  }

  .display-flex{
    display: flex;
  }

  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
  }
  /* 

  

  header styles start here 
  
  */



  

  ul li{
    list-style: none;
  }
  
  li a{
    text-decoration: none;
  }

  .navbar ul{
    gap: 30px;
  }

  .navbar{
    justify-content: space-between;
    align-items: center;
  }

  header{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px;
  }

  .brand{
    font-weight: 700px;
    font-size: 2.5rem;
  }

  /* 
    banner styles
  */
  .banner-content{
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 32px;
  }

  .banner-content .banner-title{
    font-weight: 700px;
    font-size: 3.5rem;
  }


  .banner img{
    max-width: 100%;
  }

  @media screen and (max-width:576px) {
    .navbar-lists, .navbar{
        flex-direction: column;
    }

    .banner-content .banner-title{
        font-size: 2rem;
    }

    header{
        padding: 0;
    }

    .brand{
        margin: 0;
    }
  }

  

  .img-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
  }

  .image-gallary{

    width: 1100px;
    margin: 50px auto;
    justify-content:space-between;
    gap: 70px;
    align-items: center;
  }

  .img-container img{
    max-width: 100%;
  }

  .img-container .text{
    width: 30%;
    margin: 0 auto;
  }

  @media screen and (max-width:576px){
    .image-gallary{
        flex-direction: column;
        width: 100%;
        align-items: start;

    }

    .img-container{
        width: 100%;
    }
  }

  @media screen and (min-width:576px) and (max-width:800px){
    .image-gallary{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .img-container{
        max-width: 100%;
        margin:0 auto;
    }

    .text{
        margin-left: 0;
        width: 100%;
    }

    header{
        margin: 0 auto;
        padding: 0;
    }
  }

  .hide{
    display: none;
  }

  .some-facts{
    width: 1000px;
    margin: 0 auto;
  }
  .cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);

  }
  

  .card-1,  .card-2,  .card-3,  .card-4 .img-icon, .description ,p{
    margin: 0;

  }

  .some-facts .div-1{
    margin-bottom: 30px;
  }

  

  .card-1,  .card-2,  .card-3,  .card-4{
    text-align: center;
    width: 200px;
    height: 100px;
   
    box-shadow: 0 6px 50px rgba(0,0,0,0.1);
    z-index: 1;
  }


  @media screen and (max-width:576px) {
    .some-facts{
        width: 100%;
    }
    .cards{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        justify-items: center;
    }
  }

  @media screen and (min-width:577px) and (max-width:800px) {
    .some-facts{
        width: 100%;
    }
    .cards{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        justify-items: center;
    }

    .some-facts .div-1{
        width: 100%;
        margin-left: 0;
      }
  }
